html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clip-section {
  padding: 100px 0;
  background-color: blue;
  text-align: center;
}
.clip-container {
  position: relative;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-color: chocolate;
}
.clip-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.spring {
  background-image: url('../images/spring.jpg');
  z-index: 4;
  transition: 2000ms;
  clip-path: polygon(0 100%, 0 0, 0 0, 50% 50%);
}
.summer {
  background-image: url('../images/summer.jpg');
  z-index: 3;
  transition: 2000ms;
  clip-path: polygon(0 100%, 0 0, 100% 0, 50% 50%);
}
.autumn {
  background-image: url('../images/autumn.jpg');
  z-index: 1;
  transition: 2000ms;
  clip-path: polygon(0 100%, 50% 50%, 100% 0, 100% 100%);
}
.winter {
  background-image: url('../images/winter.jpeg');
  z-index: 2;
  transition: 2000ms;
  clip-path: polygon(0 100%, 0 0, 50% 50%, 100% 100%);
}
.spring:hover,
.summer:hover,
.autumn:hover,
.winter:hover {
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  z-index: 5;
}
